{% extends 'site_base.html' %}
{% block content %}
    <h3>Please select one of  the answers to the questions </h3>
    <B>Survey Title : </B>{{ survey.title }}<br>
    <form action="./{{survey.id}}" method="post">{% csrf_token %}
    <input type="hidden" name=id value="{{ survey.id }}">
    {% for question in survey.question_set.all %}
        <span class="alert-heading">Question :{{ question.title }}<br />
        Options :
        {% for option in  question.option_set.all%}
        <input type="radio" name="{{question.id}}" value="{{option.id}}">{{ option.title }} &nbsp;

    {% endfor %}
        <br />
    {% endfor %}
    <br />
    <input type="submit" value="submit" />
    </form>
{% endblock %}